<div id='footer' style='background: white; height: 50px; margin: -30px auto 0; text-align: center; opacity: 0.5'>
	<img src='image/images/ruby.png' style='height: 50px; padding: 0; border: 0; box-shadow: none'>
</div>